header .nav { 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(71, 69, 69);
  color: white;
  text-align: center;
    
}


.article {
  border: 2px solid gray;
  border-radius: 4px;

}


.image {
  background-image: url("../images/old-book.jpg");
}