{% extends "skeleton.html.twig" %}

{% block title %} 
  Update Article
{% endblock title %}



{% block content %}
<div class= container>
{# On rajoute le bouton update manuellement dans le formulaire twig #}
    
{{ form_start(form) }}

{{ form_widget(form) }}
<button class="btn btn-primary">Update</button>
{{ form_end(form) }}
  
</div>
{% endblock %}