{% extends "skeleton.html.twig" %}

{% block title %} 
  Article Remove
{% endblock title %}




{% block content %}
  <div class="card container">
     
    {% for row in result %} 
    
      <div class="card-header">
        <h3>Titre: {{row.title}}</h3>
        <a class="btn btn-danger" href="{{path("articleRemoveId", {id:row.id})}}">Remove Article</a>
        
        <a class = "btn btn-primary" href="{{path("update-article", {id:row.id})}}">Update Article</a>

      </div>
      <div class="card-body">
        <h4>Auteur: {{row.author}}</h4>
      </div>
      <h6>{{row.date.format("Y-m-d")}}</h6>
      <blockquote class="blockquote mb-0">
        <p>{{row.text}}</p>
        <footer class="blockquote-footer"></footer>
      </blockquote>
    {% endfor %}
  </div>
{% endblock %}