{% extends "skeleton.html.twig" %}

{% block title %} 
  Create Article
{% endblock title %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
<div class= container>
{# On rajoute le bouton submit manuellement dans le formulaire twig #}
    
{{ form_start(form) }}

{{ form_widget(form) }}
<button class="btn btn-primary">Submit</button>
{{ form_end(form) }}
  
</div>
{% endblock %}