{% extends "skeleton.html.twig" %}

{% block title %} 
  Home
{% endblock title %}

{% block content %}
  <div class="card container">
    {% for row in result %} 
      <div class="card-header">
        <h3>Titre: {{row.title}}</h3>
      </div>
      <div class="card-body">
        <h4>Auteur: {{row.author}}</h4>
      </div>
      <h6>{{row.date.format("Y-m-d H:i:s")}}</h6>
      <blockquote class="blockquote mb-0">
        <p>{{row.text}}</p>
        <footer class="blockquote-footer"></footer>
      </blockquote>
    {% endfor %}
  </div>
{% endblock %}