{% extends "skeleton.html.twig" %}

{% block title %} 
  readArticle
{% endblock title %}


{% block content %}

<div class="container">
<div class="card text-center">
  <div class="card-header">
    Mot-Clé/Tag
  </div>
  <div class="card-body">
    <h5 class="card-title">Titre article</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod sodales enim, id pretium leo congue vel. In nec dolor sed turpis dignissim ultrices. Praesent laoreet augue nulla, nec sodales lacus eleifend vitae. Donec vestibulum, turpis nec finibus aliquam, dolor sem convallis dolor, quis finibus leo quam vel tortor. Aliquam erat volutpat. Vivamus in feugiat orci. Aenean pulvinar faucibus odio, et feugiat velit molestie id. Etiam semper turpis urna, vel sagittis ante rhoncus ut. Nunc egestas laoreet ultrices. Mauris vel odio eu felis aliquam bibendum quis in neque.</p>
  </div>
  </div>
</div>

{% endblock content %}