
{# ce fichier sera la base, le modèle de tous les templates  #}

{#on peut aussi créer un dossier skeleton avec plusieurs fichiers qui seront des fragments du skeleton, par ex, on peut créer un fichier  _header.html.twig  où on mettra juste le header. Pour Jean c'est mieux pour s'y retrouver. Attention, quand c'est un fragment on met un underscore devant le nom du fichier #}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="{{asset("./css/style.css")}}">
  <link rel="stylesheet" href="{{asset("./images/old-book.jpg")}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Projet Blog Marina {% block title %} {% endblock title %}</title>
</head>
<body>
  <div class= "image">
  {% block navbar %}
    <header class="nav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Recherche</button>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{path("home")}}">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{{path("articleRemove")}}">Update/Remove</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path("create-article")}}">Create</a>
            </li>
          </ul>
          <!-- Modal Bootstrap -->
          {# pour que le bouton connexion soit en mode modal bootstrap (pop up) je copie-colle du site de bootstrap le data toggle et le data target ci-dessous et je les met dans le bouton connexion déja existant, puis, plus bas je copie-colle le reste et je rajoute les input du form #}
          <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModal">Connexion</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
            <!-- Formulaire de Connexion dans le pop-up ou modal -->
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">Valider</button>
              </form>
              </div>


              <div class="modal-body">
                <p><a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">Identifiants oubliés</a></p>
              </div>



                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
  {% endblock navbar %}
  

 
  {% block content %}

  {% endblock content %}


  {% block footer %}
    <footer class="container">
      
        <p>Contact : <a href="mailto:marinafenandez.lyon@gmail.com">marinafernandez.lyon@gmail.com</a></p>          
          <a target="_blank" href="https://www.linkedin.com/in/marina-fernandez-29a827144/">
            <i class="fa fa-linkedin-square" style="font-size:24px"></i>
          </a>
       
        <p>Copyright © 2018 Projet Blog Marina Fernandez - SIMPLON. Tous droits réservés.</p>
    
    </footer>
  {% endblock footer %}
  </div>

  {#les 3 liens ci-dessous sont les liens qui permettent de faire fonctionner le JS de bootstrap pour le pop up (ou modal dit en bootstrap) #}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
</body>
</html>
